@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "mainLayout.cshtml";
}

<section id="leadership-insight" class="leadership-insight">
	@await Html.PartialAsync("partials/sections/aboutus/ceoWord.cshtml", Model)
</section>