@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@inject Umbraco.Cms.Web.Common.UmbracoHelper UmbracoHelper
@{
    Layout = null;

    // Hantera andra variabler och värden som behövs
    var pageTitle = !string.IsNullOrEmpty(ViewBag.Title) ? $"{ViewBag.Title} | Onatrix - Financial Solution for Your Business" : "Onatrix - Financial Solution for Your Business";
    var keywordsList = Model.Value<IEnumerable<string>>("pageKeywords");
    var keywords = keywordsList != null ? string.Join(", ", keywordsList) : "";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="@Model.Value("pageDescription")">
    <meta name="keywords" content="@keywords">
    <link rel="icon" type="image/png" sizes="32x32" href="/Symbol.svg">
    <link rel="stylesheet" href="https://kit.fontawesome.com/a576612222.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/theme.css">
 @*    <link rel="stylesheet" href="/css/design-palette.css"> *@
    <title>@pageTitle</title>
</head>
<body>
    <div class="wrapper">
        <header class="bg-primary" id="topbar">
            @await Html.PartialAsync("partials/static/topBar.cshtml")
        </header>

        <section class="bg-light" id="nav">
            @await Html.PartialAsync("partials/static/headerNavigation.cshtml", Model)
        </section> 

        <main>
          @RenderBody()
            
        </main>
        @await Html.PartialAsync("partials/static/footer.cshtml")
        <button id="scrollToTopBtn" onclick="scrollToTop()"><i class="fa-solid fa-arrow-up"></i></button>
    </div>
    <script src="~/scripts/main.js"></script> 
    
</body>
</html>