@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "mainLayout.cshtml";
	ViewBag.Title = Model?.Value("pageTitle") ?? Model?.Name;

    var tags = Model?.Value<IEnumerable<string>>("tagName") ?? new List<string>();
    var projectItems = Model?.Value<IEnumerable<string>>("projectsItemTemplate") ?? new List<string>();
}

@if (!string.IsNullOrEmpty(ViewBag.Title))

{
	@await Html.PartialAsync("partials/static/breadcrumb.cshtml")
}

<section id="projects-details">
    <div class="container">
        <div class="projects-details-left">
            @Model?.Value("pageContent")

            <div class="projects-details-tags">
                <h6>@Model.Value("tagHeadline")</h6>
                @foreach (var tag in tags)
                {
                    <a><p class="bg-secondary">@tag</p></a>
                }
            </div> 
        </div>

        <hr>

        <div class="projects-details-right">
            <h4>Recent projects</h4>
            <div class="project-details-cards">
                <div class="projects-card">
                    <img src="/images/projects/pj1.svg" alt="">
                    <div class="projects-left-card-right">
                        <h6>Annual Report for Juva Inc.</h6>
                        <div class="projects-date">
                            <i class="fa-regular fa-calendar-days"></i>
                            <p>June</p>
                            <p>15,</p>
                            <p>2024</p>
                        </div>
                    </div>
                </div>

                <div class="projects-card">
                    <img src="/images/projects/pj2.svg" alt="">
                    <div class="projects-left-card-right">
                        <h6>Business Insights for SP Group Inc.</h6>
                        <div class="projects-date">
                            <i class="fa-regular fa-calendar-days"></i>
                            <p>May</p>
                            <p>17,</p>
                            <p>2024</p>
                        </div>
                    </div>
                </div>

                <div class="projects-card">
                    <img src="/images/projects/pj3.svg" alt="">
                    <div class="projects-left-card-right">
                        <h6>
                            Financial Advisors to
                            Irra Group Inc.
                        </h6>
                        <div class="projects-date">
                            <i class="fa-regular fa-calendar-days"></i>
                            <p>February</p>
                            <p>6,</p>
                            <p>2024</p>
                        </div>
                    </div>
                </div>

                <div class="projects-card">
                    <img src="/images/projects/pj1.svg" alt="">
                    <div class="projects-left-card-right">
                        <h6>
                            Budget Planning for
                            Buccura Inc.
                        </h6>
                        <div class="projects-date">
                            <i class="fa-regular fa-calendar-days"></i>
                            <p>Januray</p>
                            <p>3,</p>
                            <p>2024</p>
                        </div>
                    </div>
                </div>
            </div>



            @await Html.PartialAsync("partials/static/sideBarWithTags.cshtml")
        </div>
    </div>
</section>

<section class="contact-info bg-gray">
	@await Html.PartialAsync("partials/static/_contanctInformation.cshtml")
</section>