@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@inject Umbraco.Cms.Web.Common.UmbracoHelper UmbracoHelper
@{
	Layout = "mainLayout.cshtml";
	ViewBag.Title = Model?.Value("pageTitle") ?? Model?.Name;
}

@if (!string.IsNullOrEmpty(ViewBag.Title))
{
	@await Html.PartialAsync("partials/static/breadcrumb.cshtml")
}

<section id="services-details">
	<div class="container">
        @await Html.PartialAsync("partials/static/sideBar.cshtml")

        <hr class="separator">
        <div class="right-side">
            @Model?.Value("pageContent")
        </div>
	
    </div>
</section>


<section id="services-details-form" class="services-details-form">
    <form action="">
        <div class="container">
            <h4>Have a question ?</h4>
            <div class="services-details-form-input">
                <input type="text" placeholder="Name">
                <input type="email" placeholder="Email">
            </div>
            <textarea name="" id="" placeholder="Question"></textarea>
            <button class="btn-primary">Submit</button>
        </div>
    </form>
</section>
	
<section class="contact-info bg-gray">
    @await Html.PartialAsync("partials/static/_contanctInformation.cshtml")
</section>

