.contact-request-form {
    padding-bottom: 8rem;

    .contact_bgImage {
        width: 100%;
        height: auto;
    }

    .container {
        text-align: center;
        position: relative;

        form {
            position: absolute;
            bottom: -100px;
            left: 0;
            padding: 1rem;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
            padding: 4rem 3rem;

            .form-title {
            }

            .form-headline {
            }

            .form_text {
                font-style: italic;
            }

            .request-form-input {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 1rem;
                /*margin-bottom: 2rem;*/
                z-index: 100;

                .success-message {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: blue;
                    font-weight: 700;
                }

                .redirect_button {
                }

                .contact-request-group {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    position: relative;
                    margin-bottom: 1rem;

                    .form-input {
                        border-radius: 4px;
                        border: 1px solid #ececee;
                        padding: 1rem;
                        font-style: italic;
                    }

                    .form-input-error {
                        display: none;
                    }

                    .form-invalid-input {
                        display: flex;
                        color: red;
                        position: absolute;
                        bottom: -27px;
                        left: 0;
                    }

                    .selectOption {
                        border-radius: 4px;
                        border: 1px solid #ececee;
                        padding: 1rem;
                    }
                }
            }

            .form-button {
                grid-column: 1 / -1;
            }
        }
    }
}