<?xml version="1.0" encoding="utf-8"?>
<Content Key="609880df-5996-4be8-b368-6cb711b2bdff" Alias="Contact" Level="2">
  <Info>
    <Parent Key="9dec54bf-4b06-483f-8b6f-31bf6d09e49a">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2024-09-18T09:36:43</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b465d5fa-623d-4362-92da-e4cf01cc931c">contactPage</Template>
  </Info>
  <Properties>
    <backgroundImage>
      <Value><![CDATA[[
  {
    "key": "a5e41828-a579-4b0c-ba0d-a313ecfc6d67",
    "mediaKey": "43a23246-93ec-48ec-abce-6752567c38a0",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </backgroundImage>
    <emailErrorText>
      <Value><![CDATA[You must enter a valid email-address]]></Value>
    </emailErrorText>
    <emailPlaceholder>
      <Value><![CDATA[Email]]></Value>
    </emailPlaceholder>
    <formButtomName>
      <Value><![CDATA[Submit]]></Value>
    </formButtomName>
    <formHeadline>
      <Value><![CDATA[Let us know about your next project]]></Value>
    </formHeadline>
    <formOptionText1>
      <Value><![CDATA[Financial consulting]]></Value>
    </formOptionText1>
    <formOptionText2>
      <Value><![CDATA[Strategic consulting]]></Value>
    </formOptionText2>
    <formOptionText3>
      <Value><![CDATA[Tax & Trust consulting]]></Value>
    </formOptionText3>
    <formText>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consectetur, ligula semper sagittis lobortis, eros metus efficitur purus]]></Value>
    </formText>
    <formTitle>
      <Value><![CDATA[Request a call back]]></Value>
    </formTitle>
    <nameErrorText>
      <Value><![CDATA[You must enter your name]]></Value>
    </nameErrorText>
    <namePlaceholder>
      <Value><![CDATA[Name]]></Value>
    </namePlaceholder>
    <optionErrorText>
      <Value><![CDATA[You must select an option]]></Value>
    </optionErrorText>
    <pageDescription>
      <Value><![CDATA[How to contact us]]></Value>
    </pageDescription>
    <pageKeywords>
      <Value><![CDATA[[
  "umbraco",
  "web",
  "development"
]]]></Value>
    </pageKeywords>
    <pageTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </pageTitle>
    <phoneErrorText>
      <Value><![CDATA[You must enter a phone number]]></Value>
    </phoneErrorText>
    <phonePlaceholder>
      <Value><![CDATA[Phone]]></Value>
    </phonePlaceholder>
    <redirectButtonText>
      <Value><![CDATA[Click here to continue]]></Value>
    </redirectButtonText>
    <slides>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "77c75376-233f-4f33-aff3-ae8867903987",
      "udi": "umb://element/1e86d72239484c6581b83e2d32828382",
      "selectedImage": "[{\u0022key\u0022:\u0022af1ae21a-c45e-424d-8645-eb3ccb16d53f\u0022,\u0022mediaKey\u0022:\u002260c6a660-97b9-42f5-b4b6-f56d8eb577d9\u0022,\u0022mediaTypeAlias\u0022:\u0022umbracoMediaVectorGraphics\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "imageDescription": "FREEDOMBIRD"
    },
    {
      "contentTypeKey": "77c75376-233f-4f33-aff3-ae8867903987",
      "udi": "umb://element/f42f2f0b2de1485bbb2eac37e9394301",
      "selectedImage": "[{\u0022key\u0022:\u0022f86ca3e5-bf15-44d2-83b5-03dfa0ab49ea\u0022,\u0022mediaKey\u0022:\u0022eb8fe563-46f2-4151-9e7f-8287aa206478\u0022,\u0022mediaTypeAlias\u0022:\u0022umbracoMediaVectorGraphics\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "imageDescription": "IDENTITY"
    },
    {
      "contentTypeKey": "77c75376-233f-4f33-aff3-ae8867903987",
      "udi": "umb://element/e55e27c210cb476799733deb65447f74",
      "selectedImage": "[{\u0022key\u0022:\u0022c4e7b0db-a25f-43eb-9477-8067099e2779\u0022,\u0022mediaKey\u0022:\u00222b7ba9ba-69a6-403a-a078-e0e7738d6c08\u0022,\u0022mediaTypeAlias\u0022:\u0022umbracoMediaVectorGraphics\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "imageDescription": "NATURAL"
    },
    {
      "contentTypeKey": "77c75376-233f-4f33-aff3-ae8867903987",
      "udi": "umb://element/e88a6530f657494caca111a0c9f4e990",
      "selectedImage": "[{\u0022key\u0022:\u00220ca8aeb2-6b15-4585-943a-b7d67c49687a\u0022,\u0022mediaKey\u0022:\u0022dfc8a334-b7b7-4f17-80ef-589e0e34e86a\u0022,\u0022mediaTypeAlias\u0022:\u0022umbracoMediaVectorGraphics\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "imageDescription": "simpleaf"
    },
    {
      "contentTypeKey": "77c75376-233f-4f33-aff3-ae8867903987",
      "udi": "umb://element/7302b6b64ebe400196e9591b55187645",
      "selectedImage": "[{\u0022key\u0022:\u0022a52468fc-4bbd-4f1a-82e6-a656fcd63a7d\u0022,\u0022mediaKey\u0022:\u00220b94cdb6-e303-4c86-8d85-3307be2bff9a\u0022,\u0022mediaTypeAlias\u0022:\u0022umbracoMediaVectorGraphics\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "imageDescription": "GLOBE"
    },
    {
      "contentTypeKey": "77c75376-233f-4f33-aff3-ae8867903987",
      "udi": "umb://element/8c26d10eeba1418c8eaa418fb3d50883",
      "selectedImage": "[{\u0022key\u0022:\u00223dda3129-40ca-4f7c-8502-42456994885d\u0022,\u0022mediaKey\u0022:\u00228d415ac9-2567-4086-ac2f-f72aa5aa2e6b\u0022,\u0022mediaTypeAlias\u0022:\u0022umbracoMediaVectorGraphics\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "imageDescription": "FossilGroup"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/1e86d72239484c6581b83e2d32828382",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/f42f2f0b2de1485bbb2eac37e9394301",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/e55e27c210cb476799733deb65447f74",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/e88a6530f657494caca111a0c9f4e990",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/7302b6b64ebe400196e9591b55187645",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/8c26d10eeba1418c8eaa418fb3d50883",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </slides>
  </Properties>
</Content>