<?xml version="1.0" encoding="utf-8"?>
<Content Key="9dec54bf-4b06-483f-8b6f-31bf6d09e49a" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2024-09-10T14:28:26</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c33fed0d-0bc4-4c4e-bcce-ebfaaf6c37d2">home</Template>
  </Info>
  <Properties>
    <aboutUsHeadline>
      <Value><![CDATA[We have 40 years experience]]></Value>
    </aboutUsHeadline>
    <aboutUsQuotes>
      <Value><![CDATA[“We have over 25 years of experience providing expert financial advice to both businesses and individuals.”]]></Value>
    </aboutUsQuotes>
    <aboutUsSectionTitle>
      <Value><![CDATA[ABOUT US]]></Value>
    </aboutUsSectionTitle>
    <aboutUsSignature>
      <Value><![CDATA[Tina Fox - CEO & Founder]]></Value>
    </aboutUsSignature>
    <aboutUsSignatureImage>
      <Value><![CDATA[[
  {
    "key": "4cb05587-3c46-48be-a0a9-8b1a74be938d",
    "mediaKey": "e2f4bbfc-9df0-439b-a89f-8755fa531da3",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </aboutUsSignatureImage>
    <aboutUsText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.]]></Value>
    </aboutUsText>
    <emailErrorText>
      <Value><![CDATA[You must enter a valid email-address]]></Value>
    </emailErrorText>
    <emailPlaceholder>
      <Value><![CDATA[Email]]></Value>
    </emailPlaceholder>
    <formButtomName>
      <Value><![CDATA[Submit]]></Value>
    </formButtomName>
    <formHeadline>
      <Value><![CDATA[Request a call back]]></Value>
    </formHeadline>
    <formOptionText1>
      <Value><![CDATA[Financial consulting]]></Value>
    </formOptionText1>
    <formOptionText2>
      <Value><![CDATA[Strategic consulting]]></Value>
    </formOptionText2>
    <formOptionText3>
      <Value><![CDATA[Tax and Trusts]]></Value>
    </formOptionText3>
    <formText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur excepteur sint occaecat]]></Value>
    </formText>
    <heroBackgroundImage>
      <Value><![CDATA[[
  {
    "key": "e2cd6e14-60e4-4d0d-b8e8-aa55b6ae246d",
    "mediaKey": "7ac10b9e-366d-456a-b3f0-d47fa703072a",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </heroBackgroundImage>
    <heroButtonText>
      <Value><![CDATA[Contact us]]></Value>
    </heroButtonText>
    <heroButtonUrl>
      <Value><![CDATA[/contact]]></Value>
    </heroButtonUrl>
    <heroHeadline>
      <Value><![CDATA[We bring success to you]]></Value>
    </heroHeadline>
    <heroText>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur. adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim]]></Value>
    </heroText>
    <nameErrorText>
      <Value><![CDATA[You must enter a name]]></Value>
    </nameErrorText>
    <namePlaceholder>
      <Value><![CDATA[Name]]></Value>
    </namePlaceholder>
    <optionErrorText>
      <Value><![CDATA[You must choose one option]]></Value>
    </optionErrorText>
    <orStoryBackgroundsImage>
      <Value><![CDATA[[
  {
    "key": "36b20613-728c-4a59-933b-c53f28f417f9",
    "mediaKey": "459eea86-2ce2-4c6f-8244-b37c1711cfb0",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </orStoryBackgroundsImage>
    <ourProjectsHeadline>
      <Value><![CDATA[Recent projects]]></Value>
    </ourProjectsHeadline>
    <ourProjectsSectionTitle>
      <Value><![CDATA[OUR PROJECTS]]></Value>
    </ourProjectsSectionTitle>
    <ourServicesHeadline>
      <Value><![CDATA[We Provide The Solutions  To Grow Your Business Faster]]></Value>
    </ourServicesHeadline>
    <ourServicesSectionTitle>
      <Value><![CDATA[OUR SERVICES]]></Value>
    </ourServicesSectionTitle>
    <ourStoryButtonName>
      <Value><![CDATA[Read our story]]></Value>
    </ourStoryButtonName>
    <ourStoryButtonUrl>
      <Value><![CDATA[/about]]></Value>
    </ourStoryButtonUrl>
    <ourStoryHeadline>
      <Value><![CDATA[We are trusted by more than 4.000+ clients]]></Value>
    </ourStoryHeadline>
    <ourStoryImage>
      <Value><![CDATA[[
  {
    "key": "c72e9dcb-eade-408e-ba3f-97bc4409c84e",
    "mediaKey": "ab1abd61-6b3b-415a-ae7f-6d4eb2483240",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </ourStoryImage>
    <ourStoryText>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis molestie nulla. Nam accumsanporttitor arcu,ac tincidunt lectus tincidunt sed.]]></Value>
    </ourStoryText>
    <pageDescription>
      <Value><![CDATA[Onatrix]]></Value>
    </pageDescription>
    <pageKeywords>
      <Value><![CDATA[[
  "web",
  "development",
  "umbraco"
]]]></Value>
    </pageKeywords>
    <pageTitle>
      <Value><![CDATA[Home]]></Value>
    </pageTitle>
    <phoneErrorText>
      <Value><![CDATA[You must enter a phone number]]></Value>
    </phoneErrorText>
    <phonePlaceholder>
      <Value><![CDATA[Phone]]></Value>
    </phonePlaceholder>
    <redirectButtonText>
      <Value><![CDATA[Click here to continue]]></Value>
    </redirectButtonText>
    <slides>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "77c75376-233f-4f33-aff3-ae8867903987",
      "udi": "umb://element/cd56313d2296457e8b13c9457f2183ea",
      "selectedImage": "[{\u0022key\u0022:\u0022aa0e8c50-91f9-4712-8977-6e38764333c4\u0022,\u0022mediaKey\u0022:\u002260c6a660-97b9-42f5-b4b6-f56d8eb577d9\u0022,\u0022mediaTypeAlias\u0022:\u0022umbracoMediaVectorGraphics\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "imageDescription": "FREEDOMBIRD",
      "imageAlt": "FREEDOMBIRD"
    },
    {
      "contentTypeKey": "77c75376-233f-4f33-aff3-ae8867903987",
      "udi": "umb://element/ca00e4da3b564ed0a8456a3dbd38bd21",
      "selectedImage": "[{\u0022key\u0022:\u0022ab373025-cd2f-46e8-bc9f-b525127dd475\u0022,\u0022mediaKey\u0022:\u0022eb8fe563-46f2-4151-9e7f-8287aa206478\u0022,\u0022mediaTypeAlias\u0022:\u0022umbracoMediaVectorGraphics\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "imageDescription": "IDENTITY",
      "imageAlt": "IDENTITY"
    },
    {
      "contentTypeKey": "77c75376-233f-4f33-aff3-ae8867903987",
      "udi": "umb://element/168c6ad84697422e8e382f450c92be3f",
      "selectedImage": "[{\u0022key\u0022:\u0022987a25fa-03b6-44a9-a685-fd12e84d5343\u0022,\u0022mediaKey\u0022:\u00222b7ba9ba-69a6-403a-a078-e0e7738d6c08\u0022,\u0022mediaTypeAlias\u0022:\u0022umbracoMediaVectorGraphics\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "imageDescription": "NATURAL",
      "imageAlt": "NATURAL"
    },
    {
      "contentTypeKey": "77c75376-233f-4f33-aff3-ae8867903987",
      "udi": "umb://element/54b1663b2f3949699530bf3f512a0c1e",
      "selectedImage": "[{\u0022key\u0022:\u0022102e7e2e-60a0-4434-982b-af8adac062c3\u0022,\u0022mediaKey\u0022:\u0022dfc8a334-b7b7-4f17-80ef-589e0e34e86a\u0022,\u0022mediaTypeAlias\u0022:\u0022umbracoMediaVectorGraphics\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "imageDescription": "simpleaf",
      "imageAlt": "simpleaf"
    },
    {
      "contentTypeKey": "77c75376-233f-4f33-aff3-ae8867903987",
      "udi": "umb://element/cc1bd9e44fd2403da5aa0a14a33c8d73",
      "selectedImage": "[{\u0022key\u0022:\u0022ed3e4c27-6caf-4e15-805b-9270e7a7cc8f\u0022,\u0022mediaKey\u0022:\u00220b94cdb6-e303-4c86-8d85-3307be2bff9a\u0022,\u0022mediaTypeAlias\u0022:\u0022umbracoMediaVectorGraphics\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "imageDescription": "GLOBE",
      "imageAlt": "GLOBE"
    },
    {
      "contentTypeKey": "77c75376-233f-4f33-aff3-ae8867903987",
      "udi": "umb://element/ecd61031fbb043379103093addb3d1d8",
      "selectedImage": "[{\u0022key\u0022:\u002266356fd9-32ce-43d0-b561-dfa79b3f6248\u0022,\u0022mediaKey\u0022:\u00228d415ac9-2567-4086-ac2f-f72aa5aa2e6b\u0022,\u0022mediaTypeAlias\u0022:\u0022umbracoMediaVectorGraphics\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "imageDescription": "FossilGroup",
      "imageAlt": "FossilGroup"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/cd56313d2296457e8b13c9457f2183ea",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/ca00e4da3b564ed0a8456a3dbd38bd21",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/168c6ad84697422e8e382f450c92be3f",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/54b1663b2f3949699530bf3f512a0c1e",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/cc1bd9e44fd2403da5aa0a14a33c8d73",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/ecd61031fbb043379103093addb3d1d8",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </slides>
    <successStoriesBlockList>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "f9d6f156-06fa-4440-8ca2-fb9b2b92a227",
      "udi": "umb://element/9cbc6e9f079b4ebb8cc90ec7865087fc",
      "numberOfReviews": "689",
      "descriptionOfReviews": "More than 100 customers has been served"
    },
    {
      "contentTypeKey": "f9d6f156-06fa-4440-8ca2-fb9b2b92a227",
      "udi": "umb://element/34c9988ab0e244aba0c4ebd090db69a4",
      "numberOfReviews": "370",
      "descriptionOfReviews": "More than 370 projects has been completed"
    },
    {
      "contentTypeKey": "f9d6f156-06fa-4440-8ca2-fb9b2b92a227",
      "udi": "umb://element/610855bd26f84ada89a51fe1a08cd61a",
      "numberOfReviews": "125",
      "descriptionOfReviews": "More than 125 branches has been established in Europe and America"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/9cbc6e9f079b4ebb8cc90ec7865087fc",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/34c9988ab0e244aba0c4ebd090db69a4",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/610855bd26f84ada89a51fe1a08cd61a",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </successStoriesBlockList>
    <successStoriesHeadline>
      <Value><![CDATA[Success story]]></Value>
    </successStoriesHeadline>
    <successStoriesSectionTitle>
      <Value><![CDATA[SUCCESS STORIES]]></Value>
    </successStoriesSectionTitle>
    <successStoryImage>
      <Value><![CDATA[[
  {
    "key": "87298b17-2742-49a0-a868-685407d65cd2",
    "mediaKey": "f46df1ce-76e5-425d-ba24-6a34de06db02",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </successStoryImage>
  </Properties>
</Content>