<?xml version="1.0" encoding="utf-8"?>
<Content Key="dbf62045-b0db-48dc-aeff-c4d1c152dbe1" Alias="MessageForm" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/MessageForm</Path>
    <Trashed>false</Trashed>
    <ContentType>messageForm</ContentType>
    <CreateDate>2024-09-27T16:49:21</CreateDate>
    <NodeName Default="MessageForm" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <emailErrorText>
      <Value><![CDATA[You must enter a valid email-address]]></Value>
    </emailErrorText>
    <formButtonName>
      <Value><![CDATA[Submit]]></Value>
    </formButtonName>
    <formButtonUrl>
      <Value><![CDATA[#]]></Value>
    </formButtonUrl>
    <formHeadline>
      <Value><![CDATA[Have a question ?]]></Value>
    </formHeadline>
    <formPlaceholderEmail>
      <Value><![CDATA[Email]]></Value>
    </formPlaceholderEmail>
    <formPlaceholderMessage>
      <Value><![CDATA[Message]]></Value>
    </formPlaceholderMessage>
    <formPlaceholderName>
      <Value><![CDATA[Name]]></Value>
    </formPlaceholderName>
    <messageErrorText>
      <Value><![CDATA[You must enter a message]]></Value>
    </messageErrorText>
    <nameErrorText>
      <Value><![CDATA[You must enter a name]]></Value>
    </nameErrorText>
    <redirectButtonText>
      <Value><![CDATA[Click here to continue]]></Value>
    </redirectButtonText>
  </Properties>
</Content>