<?xml version="1.0" encoding="utf-8"?>
<Content Key="dbc7579e-ba9d-40d7-a9bd-ca652da8b24f" Alias="Projects" Level="2">
  <Info>
    <Parent Key="9dec54bf-4b06-483f-8b6f-31bf6d09e49a">Home</Parent>
    <Path>/Home/Projects</Path>
    <Trashed>false</Trashed>
    <ContentType>projectsPage</ContentType>
    <CreateDate>2024-09-18T09:30:54</CreateDate>
    <NodeName Default="Projects" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a76535dd-91b1-463f-9d8d-70c453164770">projectsPage</Template>
  </Info>
  <Properties>
    <pageDescription>
      <Value><![CDATA[Our projects]]></Value>
    </pageDescription>
    <pageKeywords>
      <Value><![CDATA[[
  "web",
  "umbraco",
  "development"
]]]></Value>
    </pageKeywords>
    <pageTitle>
      <Value><![CDATA[Our Projects]]></Value>
    </pageTitle>
  </Properties>
</Content>