<?xml version="1.0" encoding="utf-8"?>
<Content Key="ada7b1b6-8be6-4207-bf83-bcc9e75f6c3b" Alias="Services" Level="2">
  <Info>
    <Parent Key="9dec54bf-4b06-483f-8b6f-31bf6d09e49a">Home</Parent>
    <Path>/Home/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceListPage</ContentType>
    <CreateDate>2024-09-19T10:46:49</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="56607fb3-03d7-4944-8b58-fd79e29a7200">serviceListPage</Template>
  </Info>
  <Properties>
    <customHeadline>
      <Value><![CDATA[We Provide The Solutions To Grow Your Business Faster]]></Value>
    </customHeadline>
    <pageTitle>
      <Value><![CDATA[OUR SERVICES]]></Value>
    </pageTitle>
  </Properties>
</Content>