<?xml version="1.0" encoding="utf-8"?>
<Content Key="12d87c10-a8b6-41fb-ac9e-1179c94f8c5d" Alias="Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Settings</Path>
    <Trashed>false</Trashed>
    <ContentType>settingsPage</ContentType>
    <CreateDate>2024-09-09T15:28:54</CreateDate>
    <NodeName Default="Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <formHeadline>
      <Value><![CDATA[How can we help you?]]></Value>
    </formHeadline>
    <formPlaceholder>
      <Value><![CDATA[E-mail address]]></Value>
    </formPlaceholder>
    <formText>
      <Value><![CDATA[online support 24/7, we are here to help you]]></Value>
    </formText>
    <officeBackgroundImage>
      <Value><![CDATA[[
  {
    "key": "c794721f-a61d-495b-b611-0962c6cf99c4",
    "mediaKey": "0fbd5116-a2fb-44a3-9a5d-36cc83f3bc91",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </officeBackgroundImage>
    <officeEmailAddress>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </officeEmailAddress>
    <officeEmailLable>
      <Value><![CDATA[E-mail address]]></Value>
    </officeEmailLable>
    <officeHeadline>
      <Value><![CDATA[Let us know about your next project]]></Value>
    </officeHeadline>
    <officeImage>
      <Value><![CDATA[[
  {
    "key": "8bb54d8a-98d6-42be-8f4f-f2aed15bd30b",
    "mediaKey": "a69211eb-ef9d-45d5-afeb-ff097b8f05b6",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </officeImage>
    <officeLocation>
      <Value><![CDATA[Klarabergsviadukten 90, 111 64 Stockholm]]></Value>
    </officeLocation>
    <officeLocationLable>
      <Value><![CDATA[Office location]]></Value>
    </officeLocationLable>
    <officePhone>
      <Value><![CDATA[+46 8 123 456 78]]></Value>
    </officePhone>
    <officePhoneLable>
      <Value><![CDATA[Phone number]]></Value>
    </officePhoneLable>
    <sideBarHeadline>
      <Value><![CDATA[About us]]></Value>
    </sideBarHeadline>
    <sideBarImage>
      <Value><![CDATA[[
  {
    "key": "ae0a6b40-2d44-4d72-b64c-756f78dd414c",
    "mediaKey": "5f16253b-4db3-43d1-968b-9ba1672062e4",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </sideBarImage>
    <sideBarText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </sideBarText>
    <siteLogoType>
      <Value><![CDATA[[
  {
    "key": "466bb5d9-38a5-4d15-805a-d1b134fc4316",
    "mediaKey": "df7c1ef7-3c32-40f5-a9cd-52ecfb036272",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </siteLogoType>
    <siteName>
      <Value><![CDATA[Onatrix]]></Value>
    </siteName>
    <socialMediaPlatforms>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "182c2286-acff-4b3e-9a4c-078dae25b1fc",
      "udi": "umb://element/6ab45c10bc614513b35057d4f23a7fd8",
      "platformName": "[\u0022Facebook\u0022]",
      "platformAccountUrl": "https://sv-se.facebook.com/"
    },
    {
      "contentTypeKey": "182c2286-acff-4b3e-9a4c-078dae25b1fc",
      "udi": "umb://element/789e69de512b4460bf416938ec94252d",
      "platformName": "[\u0022LinkedIn\u0022]",
      "platformAccountUrl": "https://www.linkedin.com/onatrix"
    },
    {
      "contentTypeKey": "182c2286-acff-4b3e-9a4c-078dae25b1fc",
      "udi": "umb://element/ac31875c8ac54b369ecb22024d296182",
      "platformName": "[\u0022X(formerly twitter)\u0022]",
      "platformAccountUrl": "https://twitter.com/@X"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/6ab45c10bc614513b35057d4f23a7fd8",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/789e69de512b4460bf416938ec94252d",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/ac31875c8ac54b369ecb22024d296182",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </socialMediaPlatforms>
    <tagFormHeadline>
      <Value><![CDATA[How can we help you?]]></Value>
    </tagFormHeadline>
    <tagName>
      <Value><![CDATA[[
  "Report",
  "Business plans",
  "Insights",
  "Business",
  "App",
  "Project",
  "Finance",
  "Pricing"
]]]></Value>
    </tagName>
    <tagPlaceholder>
      <Value><![CDATA[Email address]]></Value>
    </tagPlaceholder>
    <tagsHeadline>
      <Value><![CDATA[Tags]]></Value>
    </tagsHeadline>
    <tagText>
      <Value><![CDATA[online support 24/7, we are here to help you]]></Value>
    </tagText>
  </Properties>
</Content>