@using Umbraco.Cms.Web.Common.PublishedModels;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models.Blocks

@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage;

@{

	var backgroundImage = Model?.Value<IPublishedContent>("heroBackgroundImage")?.Url() ?? "";
}



<img class="hero-background" src="@backgroundImage" alt="" />
<div class="container">
	<h1>@Model?.Value("heroHeadline")</h1>
	<p>@Model?.Value("heroText")</p>
	<button class="btn-primary" href="@Model?.Value("heroButtonUrl")">@Model?.Value("heroButtonText")</button>
</div>
