 <!-- dessa för att kunna hämta ut från Settings -->
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@inject Umbraco.Cms.Web.Common.UmbracoHelper UmbracoHelper
@{
    //hämtar roten i trädstrukturen
    var rootContent = UmbracoHelper.ContentAtRoot();
    // söker i rotcontent efter settings page
    var settings = rootContent?.FirstOrDefault(x => x.ContentType.Alias == "settingsPage") ?? null;
    var siteName = settings?.Value<string>("siteName") ?? "";
}


<footer class="bg-dark">            
    <div class="container">
        <p class="copyright-info">© @DateTime.Now.Year @siteName All Rights Reserved. </p> 
        <p class="credits">Credits to <a href="https://themeforest.net/user/themesflat/portfolio" target="_blank">Themesflat</a></p>
    </div> 
</footer>