@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core
@using Umbraco.Cms.Core.Models.PublishedContent
@using Umbraco.Cms.Core.Routing
@using Umbraco.Extensions

@inject IPublishedValueFallback PublishedValueFallback
@inject IPublishedUrlProvider PublishedUrlProvider
@*
    This snippet displays a list of links of the pages immediately under the top-most page in the content tree.
    This is the home page for a standard website.
    It also highlights the current active page/section in the navigation with the CSS class "current".
*@

@{ 
    var selection = Model.Root().Children.Where(x => x.IsVisible(PublishedValueFallback)).ToArray(); 

    //hämtar in data från settings page
    var settingsPage = UmbracoContext.Content.GetAtRoot().OfType<SettingsPage>().FirstOrDefault();
    var siteLogoType = settingsPage.Value<IPublishedContent>("siteLogoType")?.Url() ?? "";
    
}
    <div class="container">
        <a href="/" class="nav_logo"><img src="@siteLogoType" alt="Ontarix logo" class="nav_img"></a>   
        @*  <div> *@
            <!-- <i class="fa-solid fa-bars"></i> -->
        <nav class="nav_navigation">
            @if (selection?.Length > 0)
            {
                <ul class="nav_list">
                    @foreach (var item in selection)
                    {
                        <a href="@item.Url(PublishedUrlProvider)" class="nav_links">@item.Name</a>
                    }
                </ul>
            }   
        </nav>
      @*    </div> *@
        <i class="fa-solid fa-magnifying-glass"></i>
    </div>   
