<?xml version="1.0" encoding="utf-8"?>
<Media Key="df7c1ef7-3c32-40f5-a9cd-52ecfb036272" Alias="Brand.svg" Level="3">
  <Info>
    <Parent Key="f024f826-0aa4-495a-8b69-16d832c919cc">index</Parent>
    <Path>/backgrounds/index/Brandsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-09T12:05:38</CreateDate>
    <NodeName Default="Brand.svg" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/awrn2pjj/brand.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>