<?xml version="1.0" encoding="utf-8"?>
<Media Key="ae483e57-fecf-4c82-a572-96a0a8510e6a" Alias="card-2.svg" Level="3">
  <Info>
    <Parent Key="f024f826-0aa4-495a-8b69-16d832c919cc">index</Parent>
    <Path>/backgrounds/index/card2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-09T12:05:32</CreateDate>
    <NodeName Default="card-2.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/uwbputgu/card-2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>