<?xml version="1.0" encoding="utf-8"?>
<Media Key="60583d30-162a-42cd-94e3-4a353f2b7d36" Alias="card-5.svg" Level="3">
  <Info>
    <Parent Key="f024f826-0aa4-495a-8b69-16d832c919cc">index</Parent>
    <Path>/backgrounds/index/card5svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-09T12:05:33</CreateDate>
    <NodeName Default="card-5.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ykapvarr/card-5.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>