<?xml version="1.0" encoding="utf-8"?>
<Media Key="5f16253b-4db3-43d1-968b-9ba1672062e4" Alias="card-6.svg" Level="3">
  <Info>
    <Parent Key="f024f826-0aa4-495a-8b69-16d832c919cc">index</Parent>
    <Path>/backgrounds/index/card6svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-09T12:05:33</CreateDate>
    <NodeName Default="card-6.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zgmljpni/card-6.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>