<?xml version="1.0" encoding="utf-8"?>
<Media Key="e12f97a1-1a31-4cd1-ba34-cd660065f721" Alias="card-3.svg" Level="3">
  <Info>
    <Parent Key="f024f826-0aa4-495a-8b69-16d832c919cc">index</Parent>
    <Path>/backgrounds/index/card3svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-09T12:05:32</CreateDate>
    <NodeName Default="card-3.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/kmvi0azk/card-3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>