<?xml version="1.0" encoding="utf-8"?>
<Media Key="53e71888-bd0f-40a5-a54d-6808be3389a3" Alias="card-4.svg" Level="3">
  <Info>
    <Parent Key="f024f826-0aa4-495a-8b69-16d832c919cc">index</Parent>
    <Path>/backgrounds/index/card4svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-09T12:05:32</CreateDate>
    <NodeName Default="card-4.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/pksflmiu/card-4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>