<?xml version="1.0" encoding="utf-8"?>
<Media Key="a69211eb-ef9d-45d5-afeb-ff097b8f05b6" Alias="Component 1.svg" Level="3">
  <Info>
    <Parent Key="a2da22d9-f1e3-4dbd-91dc-272c629d73df">about-us-images</Parent>
    <Path>/backgrounds/aboutUsImages/Component1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-09T12:06:33</CreateDate>
    <NodeName Default="Component 1.svg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/dgwdareg/component-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>