<?xml version="1.0" encoding="utf-8"?>
<Media Key="ca6d57f5-f3f3-40c5-b770-336bb7fa5768" Alias="contact" Level="2">
  <Info>
    <Parent Key="b78a908e-54a3-41f4-a6f2-8b218bc2d5cc">backgrounds</Parent>
    <Path>/backgrounds/contact</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-09T12:05:58</CreateDate>
    <NodeName Default="contact" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>