<?xml version="1.0" encoding="utf-8"?>
<Media Key="0fbd5116-a2fb-44a3-9a5d-36cc83f3bc91" Alias="contact-info-image.svg" Level="3">
  <Info>
    <Parent Key="a2da22d9-f1e3-4dbd-91dc-272c629d73df">about-us-images</Parent>
    <Path>/backgrounds/aboutUsImages/contactInfoImagesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-09T12:06:33</CreateDate>
    <NodeName Default="contact-info-image.svg" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2twb51pa/contact-info-image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>