<?xml version="1.0" encoding="utf-8"?>
<Media Key="459eea86-2ce2-4c6f-8244-b37c1711cfb0" Alias="dot-map 1.svg" Level="3">
  <Info>
    <Parent Key="f024f826-0aa4-495a-8b69-16d832c919cc">index</Parent>
    <Path>/backgrounds/index/dotMap1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-09T12:05:33</CreateDate>
    <NodeName Default="dot-map 1.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/orldzj5z/dot-map-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>