<?xml version="1.0" encoding="utf-8"?>
<Media Key="8a73b607-d31a-4a41-a031-a111a0a1d51a" Alias="Hero-background-img.svg" Level="3">
  <Info>
    <Parent Key="f024f826-0aa4-495a-8b69-16d832c919cc">index</Parent>
    <Path>/backgrounds/index/HeroBackgroundImgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-09T12:05:33</CreateDate>
    <NodeName Default="Hero-background-img.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4ufnc0ab/hero-background-img.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>