<?xml version="1.0" encoding="utf-8"?>
<Media Key="df492142-f8c3-47f0-a0a1-b9b8fb8c0493" Alias="Img-47 1.svg" Level="3">
  <Info>
    <Parent Key="954cb40b-fabc-4b9f-9b35-85a055fc4868">projects-details</Parent>
    <Path>/backgrounds/projectsDetails/Img471svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-23T14:53:19</CreateDate>
    <NodeName Default="Img-47 1.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wcoowpoy/img-47-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>