<?xml version="1.0" encoding="utf-8"?>
<Media Key="265b31d5-861c-4883-806a-4c1b6e83f77e" Alias="Img.svg" Level="3">
  <Info>
    <Parent Key="954cb40b-fabc-4b9f-9b35-85a055fc4868">projects-details</Parent>
    <Path>/backgrounds/projectsDetails/Imgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-09T12:07:26</CreateDate>
    <NodeName Default="Img.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/e4gptrah/img.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>