<?xml version="1.0" encoding="utf-8"?>
<Media Key="e2650d01-46a8-4b46-a394-c80189299f2a" Alias="kevin-gardner.svg" Level="3">
  <Info>
    <Parent Key="a2da22d9-f1e3-4dbd-91dc-272c629d73df">about-us-images</Parent>
    <Path>/backgrounds/aboutUsImages/kevinGardnersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-09T12:06:34</CreateDate>
    <NodeName Default="kevin-gardner.svg" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4oymoaft/kevin-gardner.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>