<?xml version="1.0" encoding="utf-8"?>
<Media Key="80388bb5-8a9d-4c91-8990-63e46a3e8faa" Alias="large-card1.svg" Level="3">
  <Info>
    <Parent Key="a2da22d9-f1e3-4dbd-91dc-272c629d73df">about-us-images</Parent>
    <Path>/backgrounds/aboutUsImages/largeCard1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-09T12:06:34</CreateDate>
    <NodeName Default="large-card1.svg" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/i21juyug/large-card1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>