<?xml version="1.0" encoding="utf-8"?>
<Media Key="57ff292a-3f44-4bc7-9e28-f84729618c09" Alias="large-card2.svg" Level="3">
  <Info>
    <Parent Key="a2da22d9-f1e3-4dbd-91dc-272c629d73df">about-us-images</Parent>
    <Path>/backgrounds/aboutUsImages/largeCard2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-09T12:06:34</CreateDate>
    <NodeName Default="large-card2.svg" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1ckf1nk5/large-card2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>