<?xml version="1.0" encoding="utf-8"?>
<Media Key="5c52a15b-cb45-4f04-99ca-1ca7e3a90a25" Alias="Mail.svg" Level="3">
  <Info>
    <Parent Key="35113d95-bfc8-464e-ba30-0b6dc81f11fa">services-details</Parent>
    <Path>/backgrounds/servicesDetails/Mailsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-09T12:07:50</CreateDate>
    <NodeName Default="Mail.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/veopbps4/mail.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>