<?xml version="1.0" encoding="utf-8"?>
<Media Key="43a23246-93ec-48ec-abce-6752567c38a0" Alias="map-1.svg" Level="3">
  <Info>
    <Parent Key="ca6d57f5-f3f3-40c5-b770-336bb7fa5768">contact</Parent>
    <Path>/backgrounds/contact/map1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-09T12:06:07</CreateDate>
    <NodeName Default="map-1.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wshbbipx/map-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>