<?xml version="1.0" encoding="utf-8"?>
<Media Key="7358e362-9afc-48d8-af8f-fab763c97647" Alias="Map.svg" Level="3">
  <Info>
    <Parent Key="ca6d57f5-f3f3-40c5-b770-336bb7fa5768">contact</Parent>
    <Path>/backgrounds/contact/Mapsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-09T12:06:06</CreateDate>
    <NodeName Default="Map.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/sbppveph/map.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>