<?xml version="1.0" encoding="utf-8"?>
<Media Key="ab1abd61-6b3b-415a-ae7f-6d4eb2483240" Alias="our-story-img.svg" Level="3">
  <Info>
    <Parent Key="f024f826-0aa4-495a-8b69-16d832c919cc">index</Parent>
    <Path>/backgrounds/index/ourStoryImgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-09T12:05:34</CreateDate>
    <NodeName Default="our-story-img.svg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/smalqsja/our-story-img.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>