<?xml version="1.0" encoding="utf-8"?>
<Media Key="0b94cdb6-e303-4c86-8d85-3307be2bff9a" Alias="partner-5.svg" Level="3">
  <Info>
    <Parent Key="f024f826-0aa4-495a-8b69-16d832c919cc">index</Parent>
    <Path>/backgrounds/index/partner5svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-09T12:05:35</CreateDate>
    <NodeName Default="partner-5.svg" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/irydn0iy/partner-5.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>