<?xml version="1.0" encoding="utf-8"?>
<Media Key="eb8fe563-46f2-4151-9e7f-8287aa206478" Alias="partner-2.svg" Level="3">
  <Info>
    <Parent Key="f024f826-0aa4-495a-8b69-16d832c919cc">index</Parent>
    <Path>/backgrounds/index/partner2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-09T12:05:34</CreateDate>
    <NodeName Default="partner-2.svg" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/sfmc0cpj/partner-2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>