<?xml version="1.0" encoding="utf-8"?>
<Media Key="60c6a660-97b9-42f5-b4b6-f56d8eb577d9" Alias="partner-1.svg" Level="3">
  <Info>
    <Parent Key="f024f826-0aa4-495a-8b69-16d832c919cc">index</Parent>
    <Path>/backgrounds/index/partner1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-09T12:05:34</CreateDate>
    <NodeName Default="partner-1.svg" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/sinhjavc/partner-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>