<?xml version="1.0" encoding="utf-8"?>
<Media Key="af58d191-b731-4460-808f-919f2167e4ba" Alias="pj-details2.svg" Level="3">
  <Info>
    <Parent Key="954cb40b-fabc-4b9f-9b35-85a055fc4868">projects-details</Parent>
    <Path>/backgrounds/projectsDetails/pjDetails2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-09T12:07:25</CreateDate>
    <NodeName Default="pj-details2.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/mnwputjk/pj-details2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>