<?xml version="1.0" encoding="utf-8"?>
<Media Key="317c7fe4-efd8-4edc-a524-c1f6d3822645" Alias="pj-details3.svg" Level="3">
  <Info>
    <Parent Key="954cb40b-fabc-4b9f-9b35-85a055fc4868">projects-details</Parent>
    <Path>/backgrounds/projectsDetails/pjDetails3svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-09T12:07:26</CreateDate>
    <NodeName Default="pj-details3.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/c1bn3u4d/pj-details3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>