<?xml version="1.0" encoding="utf-8"?>
<Media Key="33c07385-1fdc-41f0-a2f7-8efb70686cdc" Alias="pj-details1.svg" Level="3">
  <Info>
    <Parent Key="954cb40b-fabc-4b9f-9b35-85a055fc4868">projects-details</Parent>
    <Path>/backgrounds/projectsDetails/pjDetails1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-09T12:07:26</CreateDate>
    <NodeName Default="pj-details1.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/o5hgfuoh/pj-details1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>