<?xml version="1.0" encoding="utf-8"?>
<Media Key="7c87d5ab-50b4-4894-a1b5-c7eb7ec82b11" Alias="pj1.svg" Level="3">
  <Info>
    <Parent Key="26cc93e8-c3be-4194-a184-e4cb55e22cff">projects</Parent>
    <Path>/backgrounds/projects/pj1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-09T12:07:02</CreateDate>
    <NodeName Default="pj1.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/lfuclhvp/pj1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>