<?xml version="1.0" encoding="utf-8"?>
<Media Key="765fd6b3-a284-4fe6-817c-37d800d7310e" Alias="pj2.svg" Level="3">
  <Info>
    <Parent Key="26cc93e8-c3be-4194-a184-e4cb55e22cff">projects</Parent>
    <Path>/backgrounds/projects/pj2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-09T12:07:02</CreateDate>
    <NodeName Default="pj2.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ifvp1fe5/pj2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>