<?xml version="1.0" encoding="utf-8"?>
<Media Key="bd347d70-993a-4d93-8658-fc2e04e51f6c" Alias="pj4.svg" Level="3">
  <Info>
    <Parent Key="26cc93e8-c3be-4194-a184-e4cb55e22cff">projects</Parent>
    <Path>/backgrounds/projects/pj4svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-09T12:07:01</CreateDate>
    <NodeName Default="pj4.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qlajmxzb/pj4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>