<?xml version="1.0" encoding="utf-8"?>
<Media Key="e0b78a7e-3dc7-464a-970f-9fd10451c304" Alias="post2 1.svg" Level="3">
  <Info>
    <Parent Key="35113d95-bfc8-464e-ba30-0b6dc81f11fa">services-details</Parent>
    <Path>/backgrounds/servicesDetails/post21svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-09T12:07:50</CreateDate>
    <NodeName Default="post2 1.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rq1bkaw2/post2-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>