<?xml version="1.0" encoding="utf-8"?>
<Media Key="434574ec-e316-49aa-8aa2-2b07c59e8e36" Alias="project-3.svg" Level="3">
  <Info>
    <Parent Key="f024f826-0aa4-495a-8b69-16d832c919cc">index</Parent>
    <Path>/backgrounds/index/project3svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-09T12:05:37</CreateDate>
    <NodeName Default="project-3.svg" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/d1eppiin/project-3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>