<?xml version="1.0" encoding="utf-8"?>
<Media Key="6babb27b-39c3-402f-902d-770365c4ace0" Alias="Rectangle.svg" Level="3">
  <Info>
    <Parent Key="a2da22d9-f1e3-4dbd-91dc-272c629d73df">about-us-images</Parent>
    <Path>/backgrounds/aboutUsImages/Rectanglesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-09T12:06:31</CreateDate>
    <NodeName Default="Rectangle.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rehbtcoy/rectangle.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>