<?xml version="1.0" encoding="utf-8"?>
<Media Key="9d9cba93-5e9c-4187-8080-e1d203c8724a" Alias="Rectangle2.svg" Level="3">
  <Info>
    <Parent Key="a2da22d9-f1e3-4dbd-91dc-272c629d73df">about-us-images</Parent>
    <Path>/backgrounds/aboutUsImages/Rectangle2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-09T12:06:32</CreateDate>
    <NodeName Default="Rectangle2.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/medd252h/rectangle2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>