<?xml version="1.0" encoding="utf-8"?>
<Media Key="7ac10b9e-366d-456a-b3f0-d47fa703072a" Alias="sl-home2.svg" Level="3">
  <Info>
    <Parent Key="f024f826-0aa4-495a-8b69-16d832c919cc">index</Parent>
    <Path>/backgrounds/index/slHome2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-09T12:05:37</CreateDate>
    <NodeName Default="sl-home2.svg" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ns1ghgdw/sl-home2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>