<?xml version="1.0" encoding="utf-8"?>
<Media Key="e8b4e70d-8fb7-4f21-b76d-27b7b7ea5e00" Alias="small-card3.svg" Level="3">
  <Info>
    <Parent Key="a2da22d9-f1e3-4dbd-91dc-272c629d73df">about-us-images</Parent>
    <Path>/backgrounds/aboutUsImages/smallCard3svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-09T12:06:32</CreateDate>
    <NodeName Default="small-card3.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/53nbmcvm/small-card3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>