<?xml version="1.0" encoding="utf-8"?>
<Media Key="b984941e-d73f-4a1b-927c-6616f9a92b55" Alias="small-card4.svg" Level="3">
  <Info>
    <Parent Key="a2da22d9-f1e3-4dbd-91dc-272c629d73df">about-us-images</Parent>
    <Path>/backgrounds/aboutUsImages/smallCard4svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-09T12:06:33</CreateDate>
    <NodeName Default="small-card4.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3qudmwze/small-card4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>