<?xml version="1.0" encoding="utf-8"?>
<Media Key="cbea82e9-34a8-4d19-8f42-46cd95a60222" Alias="small-card1.svg" Level="3">
  <Info>
    <Parent Key="a2da22d9-f1e3-4dbd-91dc-272c629d73df">about-us-images</Parent>
    <Path>/backgrounds/aboutUsImages/smallCard1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-09T12:06:32</CreateDate>
    <NodeName Default="small-card1.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/dm5fqknt/small-card1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>