<?xml version="1.0" encoding="utf-8"?>
<Media Key="7915018a-62e2-4536-8ffc-b5f815d3f5ea" Alias="small-card2.svg" Level="3">
  <Info>
    <Parent Key="a2da22d9-f1e3-4dbd-91dc-272c629d73df">about-us-images</Parent>
    <Path>/backgrounds/aboutUsImages/smallCard2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-09T12:06:32</CreateDate>
    <NodeName Default="small-card2.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/pc4lpg5z/small-card2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>