<?xml version="1.0" encoding="utf-8"?>
<Media Key="623402b1-76c7-4ad4-9dd3-1b2ba4a386d7" Alias="tina-fox.svg" Level="3">
  <Info>
    <Parent Key="a2da22d9-f1e3-4dbd-91dc-272c629d73df">about-us-images</Parent>
    <Path>/backgrounds/aboutUsImages/tinaFoxsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-09T12:06:33</CreateDate>
    <NodeName Default="tina-fox.svg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/io5jnag2/tina-fox.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>