<?xml version="1.0" encoding="utf-8"?>
<Media Key="fbf44d83-f435-4cb3-90c8-af7b94494b84" Alias="Vector.png" Level="3">
  <Info>
    <Parent Key="a2da22d9-f1e3-4dbd-91dc-272c629d73df">about-us-images</Parent>
    <Path>/backgrounds/aboutUsImages/Vectorpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-18T11:50:49</CreateDate>
    <NodeName Default="Vector.png" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/bsdletk2/vector.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>