<?xml version="1.0" encoding="utf-8"?>
<Media Key="f46df1ce-76e5-425d-ba24-6a34de06db02" Alias="Video 1.svg" Level="3">
  <Info>
    <Parent Key="f024f826-0aa4-495a-8b69-16d832c919cc">index</Parent>
    <Path>/backgrounds/index/Video1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-09T12:05:38</CreateDate>
    <NodeName Default="Video 1.svg" />
    <SortOrder>21</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/hrgm4fx4/video-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>