<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a7203aa7-aa93-4dd8-9320-acc57a3cbe04" Alias="About Section - Form Select Placeholder" Level="1">
  <Info>
    <Name>About Section - Form Select Placeholder</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "fab1281d-7135-40b2-8850-297a5f852a3c",
      "label": "**{=SelectPlaceholderText}**"
    }
  ]
}]]></Config>
</DataType>