<?xml version="1.0" encoding="utf-8"?>
<DataType Key="93e42ffb-a703-4230-97d2-69c68487f69a" Alias="Contact Page - slides" Level="1">
  <Info>
    <Name>Contact Page - slides</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "77c75376-233f-4f33-aff3-ae8867903987",
      "label": "**{=slides}** {=imageDescription}"
    }
  ]
}]]></Config>
</DataType>