<?xml version="1.0" encoding="utf-8"?>
<DataType Key="862aa26d-1819-45bf-abea-8a21bea44c7c" Alias="Expert Card List - Component " Level="1">
  <Info>
    <Name>Expert Card List - Component </Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "9a3b49f1-b469-479d-9744-7196dab3cb57",
      "label": "**{Large Card Item}**"
    },
    {
      "contentElementTypeKey": "18c1c8f0-677c-4746-ac1d-42b81720f322",
      "label": "**{Small Card Item}**"
    }
  ]
}]]></Config>
</DataType>