<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4c4273d7-a332-450d-a82b-aacb056d5661" Alias="Form Placeholder List" Level="1">
  <Info>
    <Name>Form Placeholder List</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Name",
    "Phone",
    "Email"
  ]
}]]></Config>
</DataType>