<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c1f8e26c-91a0-484f-a68f-d4b5ff663fc8" Alias=" Form Fields " Level="1">
  <Info>
    <Name> Form Fields </Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "ef72c7d1-8a47-45c9-a57f-893f8a6fdd8c",
      "label": "**{=inputType}**"
    }
  ]
}]]></Config>
</DataType>