<?xml version="1.0" encoding="utf-8"?>
<DataType Key="da7583c1-2e58-4d5b-ad8f-227d04c53632" Alias="Form Option List " Level="1">
  <Info>
    <Name>Form Option List </Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "00635076-a9c9-4026-9cd5-b2cdafe6f8e0",
      "label": "**{=formOptionName}**"
    }
  ]
}]]></Config>
</DataType>