<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4ecc82b9-e1e2-4005-968c-943c444af449" Alias="Form Placeholder List (1)" Level="1">
  <Info>
    <Name>Form Placeholder List (1)</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "dade6738-3d2b-4ae9-a9d0-36d5a90f47ee",
      "label": "**{=placeholderText}** "
    }
  ]
}]]></Config>
</DataType>