<?xml version="1.0" encoding="utf-8"?>
<DataType Key="31d6bfc7-5180-4761-be4b-821141a4f3a5" Alias="Home Page - Our Services Cards" Level="1">
  <Info>
    <Name>Home Page - Our Services Cards</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "be750de6-8231-4011-8cbc-fb3c2527c0fb",
      "label": "our services cards"
    }
  ]
}]]></Config>
</DataType>