<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d33931e5-b3db-4dea-8595-e71dbb3546bf" Alias="Home Page - Success Stories BlockList Components" Level="1">
  <Info>
    <Name>Home Page - Success Stories BlockList Components</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "f9d6f156-06fa-4440-8ca2-fb9b2b92a227",
      "label": "success stories items"
    }
  ]
}]]></Config>
</DataType>