<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ec1a99a2-b61b-414e-89de-b95146a6fe34" Alias="Home Page - Partner Image" Level="1">
  <Info>
    <Name>Home Page - Partner Image</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "77c75376-233f-4f33-aff3-ae8867903987",
      "label": "slider item"
    }
  ]
}]]></Config>
</DataType>