<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9ff0954f-d179-4b7c-b09f-dcc2eb5cbe5f" Alias="Home Page - Our Projects Cards" Level="1">
  <Info>
    <Name>Home Page - Our Projects Cards</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "35d3e597-f433-4400-8afa-49a8b26f9bfa",
      "label": "projects card"
    }
  ]
}]]></Config>
</DataType>