<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5c432992-9080-4e03-bbdc-f64a6e1017e6" Alias="Image Slider Component - Slides " Level="1">
  <Info>
    <Name>Image Slider Component - Slides </Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "77c75376-233f-4f33-aff3-ae8867903987",
      "label": "image slider"
    }
  ]
}]]></Config>
</DataType>