<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9a02b6b4-c6af-4913-ab09-7e4a51880fa7" Alias="Service Card Component - Card Component" Level="1">
  <Info>
    <Name>Service Card Component - Card Component</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "ba0bb011-c500-4172-9d64-6f57d59bbd16",
      "label": "Service Card"
    }
  ]
}]]></Config>
</DataType>