<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c2fe7ff2-490e-400f-868a-e13288a32482" Alias="Settings Page - Social Media Platforms " Level="1">
  <Info>
    <Name>Settings Page - Social Media Platforms </Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "182c2286-acff-4b3e-9a4c-078dae25b1fc",
      "label": "**{=platformName}** "
    }
  ]
}]]></Config>
</DataType>