<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7b01be99-464b-4956-89d0-285461736e46" Alias="Side Bar Item - Tags" Level="1">
  <Info>
    <Name>Side Bar Item - Tags</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "cf9a492a-1199-4ff8-bb92-2f083900983d",
      "label": "**{=Tags}**"
    }
  ]
}]]></Config>
</DataType>