<?xml version="1.0" encoding="utf-8"?>
<DataType Key="483af1d0-fb53-4cdd-8433-7100b9b4fa33" Alias="Side Bar Item" Level="1">
  <Info>
    <Name>Side Bar Item</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "312a2963-81f7-4aa3-8ca3-5dd9d3fb6df7",
      "label": "**{=SideBar}**"
    }
  ]
}]]></Config>
</DataType>