<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b163f8bb-9f1c-47ef-9d45-54f62fb174ce" Alias="Social Media Dropdown List" Level="1">
  <Info>
    <Name>Social Media Dropdown List</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Facebook",
    "Instagram",
    "LinkedIn",
    "Youtube",
    "X(formerly twitter)"
  ]
}]]></Config>
</DataType>