<?xml version="1.0" encoding="utf-8"?>
<DataType Key="50591f69-8c29-435a-b2b0-0a84d57fcc7b" Alias="Success Stories Component - Success Stories Items " Level="1">
  <Info>
    <Name>Success Stories Component - Success Stories Items </Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "f9d6f156-06fa-4440-8ca2-fb9b2b92a227",
      "label": "success stories"
    }
  ]
}]]></Config>
</DataType>