@using Umbraco.Cms.Web.Common.PublishedModels;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage;

@{
    var ceoImage = Model?.Value<IPublishedContent>("aboutUsImage")?.Url() ?? "";
    var richTextContent = Model?.Value<string>("aboutPageCeoWord");
}

<div class="container">
    <div class="right">
        @if (Model != null)
        {
            @Model.Value("aboutPageCeoWord");
        }
    </div>
    
    <div class="tina-image">
        <img src="@ceoImage" alt="@Model.Value("aboutUsAltText")">
        <p>@Model.Value("aboutUsImageText")</p>
    </div>
</div>