header {
    width: 100%;

    .container {
        text-align: center;
        display: flex;
    }

    @include tablet {

        .container {
            display: flex;
            justify-content: space-between;
            align-items: stretch;
            padding-top: 0.5rem;

            .topbar {
                display: flex;

                i {
                    width: 100%;
                    height: auto;
                }
            }

            p {
                font-size: 12px;
            }

            .social-media {
                display: flex;
                align-items: stretch;

                a {
                    border: 1px solid rgba(205, 208, 223, 0.315);
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    padding: 1rem 1rem 0 1rem;
                }
            }
        }
    }
}
