#topbar {
    width: 100%;
    padding: 0 0.2rem;

    #topbar_container {
        display: flex;
        justify-content: space-between;
        align-items: center;


        .header_location {
            font-size: 12px;
        }

        .social-media {
            display: flex;
            align-items: center;


            .social-media-link {
                border-left: 1px solid rgba(205, 208, 223, 0.315);
                border-right: 1px solid rgba(205, 208, 223, 0.315);
                padding: 1rem 0.7rem 0.2rem 0.7rem;
                margin: 0;
                //display: flex;
                //text-align: center;
                justify-content: center;


                .topbar-icon {
                    margin-left: 0;
                    font-size: 1.2rem;
                }
            }
        }
    }
}
