#hero {

    .hero-background {
    }

    .container {
        text-align: center;

        h1 {
            font-size: 50px;
        }

        p {
        }
    }

    @include tablet {

        .container {
            text-align: left;
            width: 100%;

            h1 {
                font-size: 50px;
                max-width: 400px;
            }

            p {
                max-width: 400px;
            }

            .hero_link {
                margin-top: 1rem;
            }
        }
    }

    @include desktop {
        .hero-background {
            position: absolute;
            top: 105px;
            left: 0;
            right: 0;
            z-index: 0;
            width: 100%;
            height: auto;
            background-size: cover;

            img {
            }
        }

        .container {
            padding-top: 4rem;
            padding-bottom: 4rem;
            text-align: left;
            width: 100%;
            position: relative;
            /*top: 130px;
            left: 308px;*/
            z-index: 10;

            h1 {
                font-size: 70px;
                max-width: 540px;
            }

            p {
                max-width: 540px;
                font-size: 16px;
            }
        }
    }
}
